@import "./fonts.postcss";
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-base;
  font-family: "Dogica Pixel", sans-serif;
  font-optical-sizing: none;
  font-weight: 400;
  font-style: normal;
}

.daydream {
  font-family: Daydream;
  font-size: 11px;
}

* {
  -webkit-font-smoothing: none;
}
